<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.trade.BookImgMapper">

    <insert id="save">
        INSERT INTO book_image (
            img_url,
            trade_seq
        ) VALUES (
            #{imgUrl},
            #{trade_seq}
        )
    </insert>

    <select id="findImgUrl" resultType="java.lang.String">
        SELECT img_url FROM book_image WHERE trade_seq = #{trade_seq}
    </select>
    <delete id="deleteBySeq" parameterType="long">
        DELETE FROM book_image
        WHERE trade_seq = #{trade_seq}
    </delete>
</mapper>