<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.chat.message.MessageMapper">

    <insert id="save" parameterType="project.chat.message.MessageVO">
        INSERT INTO chat_msg (
        chat_room_seq,
        trade_seq,
        sender_seq,
        chat_cont,
        sent_dtm,
        read_yn
        ) VALUES (
        #{chat_room_seq},
        #{trade_seq},
        #{sender_seq},
        #{chat_cont},
        now(),
        false
        )
    </insert>
    <!-- 메시지 읽음 처리 -->
    <update id="updateReadStatus">
        UPDATE chat_msg SET read_yn = true
        WHERE chat_room_seq = #{chat_room_seq}
        and sender_seq !=#{member_seq}
        and read_yn = false

    </update>

    <!-- 메시지 전체 조회 -->
    <select id="findByRoomSeq"
            resultType="project.chat.message.MessageVO">
        SELECT
        cm.chat_msg_seq,
        cm.chat_room_seq,
        cm.sender_seq,
        cm.chat_cont,
        cm.sent_dtm,
        cm.read_yn,
        mi.member_nicknm AS member_seller_nicknm
        FROM chat_msg cm
        LEFT JOIN member_info mi
        ON mi.member_seq = cm.sender_seq
        WHERE cm.chat_room_seq = #{chat_room_seq}
        ORDER BY cm.sent_dtm ASC;
    </select>


    <select id="isUnreadMessage" resultType="java.lang.Boolean">
        SELECT EXISTS (
        SELECT 1
        FROM chat_msg c
        JOIN chatroom r ON c.chat_room_seq = r.chat_room_seq
        WHERE c.read_yn = false
        AND c.sender_seq != #{member_seq}
        AND (r.member_seller_seq = #{member_seq} OR r.member_buyer_seq = #{member_seq})
        )
    </select>

    <!-- 닉네임 조회 -->
    <select id="findBySellerNicknm" resultType="java.lang.String">
        SELECT member_nicknm AS member_seller_nicknm
        FROM member_info WHERE member_seq = #{member_seq}
    </select>

</mapper>