<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.member.MemberBankAccountMapper">

    <select id="findByMemberSeq" resultType="project.member.MemberBankAccountVO">
        SELECT *
        FROM member_bank_account
        WHERE member_seq = #{member_seq}
    </select>

    <insert id="insert" parameterType="project.member.MemberBankAccountVO"
            useGeneratedKeys="true" keyProperty="bank_account_seq">
        INSERT INTO member_bank_account (
            member_seq, bank_code, bank_account_no, account_holder_nm,
            verified_yn, crt_dtm
        ) VALUES (
            #{member_seq}, #{bank_code}, #{bank_account_no}, #{account_holder_nm},
            0, now()
        )
    </insert>

    <update id="update" parameterType="project.member.MemberBankAccountVO">
        UPDATE member_bank_account
        SET bank_code         = #{bank_code},
            bank_account_no   = #{bank_account_no},
            account_holder_nm = #{account_holder_nm},
            verified_yn       = 0,
            upd_dtm           = now()
        WHERE bank_account_seq = #{bank_account_seq}
    </update>

</mapper>
