<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="project.admin.AdminMapper">

    <select id="findByLoginId" resultType="project.admin.AdminVO">
        SELECT ADMIN_SEQ
             , ADMIN_LOGIN_ID
             , ADMIN_PASSWORD
          FROM admin
         WHERE ADMIN_LOGIN_ID = #{id}
    </select>

    <select id="countAllMembers" resultType="int">
        SELECT COUNT(*) FROM member_info WHERE MEMBER_DELETED_DTM IS NULL
    </select>
    <select id="countAllTrades" resultType="int">
        SELECT COUNT(*) FROM sb_trade_info WHERE DEL_DTM IS NULL
    </select>
    <select id="countAllBookClubs" resultType="int">
        SELECT COUNT(*) FROM book_club WHERE BOOK_CLUB_DELETED_DT IS NULL
    </select>

    <select id="searchMembers" parameterType="project.util.paging.SearchVO" resultType="project.member.MemberVO">
        SELECT * FROM member_info
        WHERE MEMBER_DELETED_DTM IS NULL
        <if test="status != null and status != '' and status != 'all' and status != 'ALL'">
            AND MEMBER_ST = #{status}
        </if>
        <if test="keyword != null and keyword != ''">
            <choose>
                <when test="searchType == 'nickname'">
                    AND MEMBER_NICKNM LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="searchType == 'email'">
                    AND MEMBER_EMAIL LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <otherwise>
                    AND (MEMBER_NICKNM LIKE CONCAT('%', #{keyword}, '%') OR MEMBER_EMAIL LIKE CONCAT('%', #{keyword}, '%'))
                </otherwise>
            </choose>
        </if>
        ORDER BY CRT_DTM DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="countAllMembersBySearch" parameterType="project.util.paging.SearchVO" resultType="int">
        SELECT COUNT(*)
          FROM member_info
         WHERE MEMBER_DELETED_DTM IS NULL
        <if test="status != null and status != '' and status != 'all' and status != 'ALL'">
            AND MEMBER_ST = #{status}
        </if>
        <if test="keyword != null and keyword != ''">
            <choose>
                <when test="searchType == 'nickname'">
                    AND MEMBER_NICKNM LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="searchType == 'email'">
                    AND MEMBER_EMAIL LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <otherwise>
                    AND (MEMBER_NICKNM LIKE CONCAT('%', #{keyword}, '%') OR MEMBER_EMAIL LIKE CONCAT('%', #{keyword}, '%'))
                </otherwise>
            </choose>
        </if>
    </select>

    <select id="searchTrades" parameterType="project.util.paging.SearchVO" resultType="project.trade.TradeVO">
        SELECT TRADE_SEQ
             , SALE_TITLE
             , SALE_PRICE
             , SALE_RG
             , SALE_ST
             , BOOK_TITLE
             , CRT_DTM
          FROM sb_trade_info
         WHERE DEL_DTM IS NULL
        <if test="status != null and status != '' and status != 'all' and status != 'ALL'">
            AND SALE_ST = #{status}
        </if>
        <if test="keyword != null and keyword != ''">
            <choose>
                <when test="searchType == 'sale_title'">
                    AND SALE_TITLE LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="searchType == 'bookName'">
                    AND BOOK_TITLE LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="searchType == 'region'">
                    AND SALE_RG LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <otherwise>
                    AND (SALE_TITLE LIKE CONCAT('%', #{keyword}, '%') OR BOOK_TITLE LIKE CONCAT('%', #{keyword}, '%') OR SALE_RG LIKE CONCAT('%', #{keyword}, '%'))
                </otherwise>
            </choose>
        </if>
        ORDER BY CRT_DTM DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="countAllTradesBySearch" parameterType="project.util.paging.SearchVO" resultType="int">
        SELECT COUNT(*)
          FROM sb_trade_info
         WHERE DEL_DTM IS NULL
        <if test="status != null and status != '' and status != 'all' and status != 'ALL'">
            AND SALE_ST = #{status}
        </if>
        <if test="keyword != null and keyword != ''">
            <choose>
                <when test="searchType == 'sale_title'">
                    AND SALE_TITLE LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="searchType == 'bookName'">
                    AND BOOK_TITLE LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="searchType == 'region'">
                    AND SALE_RG LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <otherwise>
                AND (SALE_TITLE LIKE CONCAT('%', #{keyword}, '%') OR BOOK_TITLE LIKE CONCAT('%', #{keyword}, '%') OR SALE_RG LIKE CONCAT('%', #{keyword}, '%'))
                </otherwise>
            </choose>
        </if>
    </select>

    <select id="searchBookClubs" resultType="project.bookclub.vo.BookClubVO">
        SELECT BOOK_CLUB_SEQ
             , BOOK_CLUB_NAME
             , BOOK_CLUB_RG
             , BOOK_CLUB_MAX_MEMBER
             , BOOK_CLUB_SCHEDULE
             , CRT_DTM
          FROM book_club
         WHERE BOOK_CLUB_DELETED_DT IS NULL
        <if test="keyword != null and keyword != ''">
            <choose>
                <when test="searchType == 'groupName'">
                    AND BOOK_CLUB_NAME LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="searchType == 'region'">
                    AND BOOK_CLUB_RG LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <otherwise>
                    AND (BOOK_CLUB_NAME LIKE CONCAT('%', #{keyword}, '%') OR BOOK_CLUB_RG LIKE CONCAT('%', #{keyword}, '%'))
                </otherwise>
            </choose>
        </if>
        ORDER BY CRT_DTM DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="countAllGroupsBySearch" parameterType="project.util.paging.SearchVO" resultType="int">
        SELECT COUNT(*)
          FROM book_club
         WHERE BOOK_CLUB_DELETED_DT IS NULL
        <if test="keyword != null and keyword != ''">
            <choose>
                <when test="searchType == 'groupName'">
                    AND BOOK_CLUB_NAME LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="searchType == 'region'">
                    AND BOOK_CLUB_RG LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <otherwise>
                    AND (BOOK_CLUB_NAME LIKE CONCAT('%', #{keyword}, '%') OR BOOK_CLUB_RG LIKE CONCAT('%', #{keyword}, '%'))
                </otherwise>
            </choose>
        </if>
    </select>

    <select id="searchAdminLoginLogs" parameterType="project.util.paging.SearchVO" resultType="project.admin.LoginInfoVO">
        SELECT L.LOGIN_INFO_SEQ
             , L.ADMIN_SEQ
             , L.LOGIN_DTM
             , L.LOGIN_IP
             , L.LOGOUT_DTM
             , L.LOGOUT_IP
             , A.ADMIN_LOGIN_ID
          FROM login_info L
         INNER JOIN admin A
            ON L.ADMIN_SEQ = A.ADMIN_SEQ
         WHERE L.ADMIN_SEQ IS NOT NULL
        <if test="keyword != null and keyword != ''">
            <choose>
                <when test="searchType == 'nickname'">
                    AND A.ADMIN_LOGIN_ID LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="searchType == 'ip'">
                    AND L.LOGIN_IP LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="searchType == 'accessTime'">
                    AND CAST(L.LOGIN_DTM AS CHAR) LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <otherwise>
                    AND (A.ADMIN_LOGIN_ID LIKE CONCAT('%', #{keyword}, '%') OR L.LOGIN_IP LIKE CONCAT('%', #{keyword}, '%') OR CAST(L.LOGIN_DTM AS CHAR) LIKE CONCAT('%', #{keyword}, '%'))
                </otherwise>
            </choose>
        </if>
        ORDER BY L.LOGIN_DTM DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="countAdminLoginLogsBySearch" parameterType="project.util.paging.SearchVO" resultType="int">
        SELECT COUNT(*)
          FROM login_info L
         INNER JOIN admin A
            ON L.ADMIN_SEQ = A.ADMIN_SEQ
         WHERE L.ADMIN_SEQ IS NOT NULL
        <if test="keyword != null and keyword != ''">
            <choose>
                <when test="searchType == 'nickname'">
                    AND A.ADMIN_LOGIN_ID LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="searchType == 'ip'">
                    AND L.LOGIN_IP LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="searchType == 'accessTime'">
                    AND CAST(L.LOGIN_DTM AS CHAR) LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <otherwise>
                    AND (A.ADMIN_LOGIN_ID LIKE CONCAT('%', #{keyword}, '%') OR L.LOGIN_IP LIKE CONCAT('%', #{keyword}, '%') OR CAST(L.LOGIN_DTM AS CHAR) LIKE CONCAT('%', #{keyword}, '%'))
                </otherwise>
            </choose>
        </if>
    </select>

    <select id="searchUsersLoginLogs" parameterType="project.util.paging.SearchVO" resultType="project.admin.LoginInfoVO">
        SELECT L.LOGIN_INFO_SEQ
             , L.MEMBER_SEQ
             , L.LOGIN_DTM
             , L.LOGIN_IP
             , L.LOGOUT_DTM
             , L.LOGOUT_IP
             , M.MEMBER_NICKNM
        FROM login_info L
        INNER JOIN member_info M
        ON L.MEMBER_SEQ = M.MEMBER_SEQ
        WHERE L.MEMBER_SEQ IS NOT NULL
        <if test="keyword != null and keyword != ''">
            <choose>
                <when test="searchType == 'nickname'">
                    AND M.MEMBER_NICKNM LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="searchType == 'ip'">
                    AND L.LOGIN_IP LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="searchType == 'accessTime'">
                    AND CAST(L.LOGIN_DTM AS CHAR) LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <otherwise>
                    AND (M.MEMBER_NICKNM LIKE CONCAT('%', #{keyword}, '%') OR L.LOGIN_IP LIKE CONCAT('%', #{keyword}, '%') OR CAST(L.LOGIN_DTM AS CHAR) LIKE CONCAT('%', #{keyword}, '%'))
                </otherwise>
            </choose>
        </if>
        ORDER BY L.LOGIN_DTM DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="countUsersLoginLogsBySearch" parameterType="project.util.paging.SearchVO" resultType="int">
        SELECT COUNT(*)
          FROM login_info L
         INNER JOIN member_info M
            ON L.MEMBER_SEQ = M.MEMBER_SEQ
         WHERE L.MEMBER_SEQ IS NOT NULL
        <if test="keyword != null and keyword != ''">
            <choose>
                <when test="searchType == 'nickname'">
                    AND M.MEMBER_NICKNM LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="searchType == 'ip'">
                    AND L.LOGIN_IP LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <when test="searchType == 'accessTime'">
                    AND CAST(L.LOGIN_DTM AS CHAR) LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <otherwise>
                    AND (M.MEMBER_NICKNM LIKE CONCAT('%', #{keyword}, '%') OR L.LOGIN_IP LIKE CONCAT('%', #{keyword}, '%') OR CAST(L.LOGIN_DTM AS CHAR) LIKE CONCAT('%', #{keyword}, '%'))
                </otherwise>
            </choose>
        </if>
    </select>
    <select id="searchNotices" parameterType="project.util.paging.SearchVO" resultType="project.admin.NoticeVO">
        SELECT N.NOTICE_SEQ
             , N.NOTICE_TITLE
             , N.NOTICE_PRIORITY
             , N.ACTIVE
             , N.VIEW_COUNT
             , N.CRT_DTM
             , A.ADMIN_LOGIN_ID
          FROM notice N
          LEFT JOIN admin A
            ON N.ADMIN_SEQ = A.ADMIN_SEQ
        <where>
            <if test="keyword != null and keyword != ''">
                <choose>
                    <when test="searchType == 'title'">
                        AND N.NOTICE_TITLE LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                    <when test="searchType == 'content'">
                        AND N.NOTICE_CONT LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                    <otherwise>
                        AND (N.NOTICE_TITLE LIKE CONCAT('%', #{keyword}, '%')
                         OR N.NOTICE_CONT LIKE CONCAT('%', #{keyword}, '%'))
                    </otherwise>
                </choose>
            </if>
        </where>
        ORDER BY N.NOTICE_PRIORITY DESC, N.CRT_DTM DESC
         LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="countAllNoticesBySearch" parameterType="project.util.paging.SearchVO" resultType="int">
        SELECT COUNT(*)
          FROM notice
        <where>
            <if test="keyword != null and keyword != ''">
                <choose>
                    <when test="searchType == 'title'">
                        AND NOTICE_TITLE LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                    <when test="searchType == 'content'">
                        AND NOTICE_CONT LIKE CONCAT('%', #{keyword}, '%')
                    </when>
                    <otherwise>
                        AND (NOTICE_TITLE LIKE CONCAT('%', #{keyword}, '%')
                         OR NOTICE_CONT LIKE CONCAT('%', #{keyword}, '%'))
                    </otherwise>
                </choose>
            </if>
        </where>
    </select>

    <update id="updateMemberStatus">
        UPDATE member_info SET MEMBER_ST = #{status} WHERE MEMBER_SEQ = #{seq}
    </update>
    <update id="deleteMember">
        UPDATE member_info SET MEMBER_DELETED_DTM = NOW() WHERE MEMBER_SEQ = #{seq}
    </update>

    <update id="updateTradeStatus">
        UPDATE sb_trade_info SET SALE_ST = #{status} WHERE TRADE_SEQ = #{seq}
    </update>
    <update id="deleteTrade">
        UPDATE sb_trade_info SET DEL_DTM = NOW() WHERE TRADE_SEQ = #{seq}
    </update>

    <update id="deleteBookClub">
        UPDATE book_club SET BOOK_CLUB_DELETED_DT = CURRENT_DATE WHERE BOOK_CLUB_SEQ = #{seq}
    </update>

    <select id="findDailySignupStats" resultType="map">
        SELECT DATE_FORMAT(crt_dtm, '%Y-%m-%d') as date, COUNT(*) as count
        FROM member_info
        WHERE crt_dtm >= DATE_SUB(CURRENT_DATE, INTERVAL 6 DAY)
        GROUP BY DATE_FORMAT(crt_dtm, '%Y-%m-%d')
        ORDER BY date
    </select>

    <select id="findDailyTradeStats" resultType="map">
        SELECT DATE_FORMAT(crt_dtm, '%Y-%m-%d') as date, COUNT(*) as count
        FROM sb_trade_info
        WHERE crt_dtm >= DATE_SUB(CURRENT_DATE, INTERVAL 6 DAY)
        GROUP BY DATE_FORMAT(crt_dtm, '%Y-%m-%d')
        ORDER BY date
    </select>

    <select id="findCategoryStats" resultType="map">
        SELECT c.category_nm as name, COUNT(t.trade_seq) as count
        FROM category c
        JOIN sb_trade_info t ON c.category_seq = t.category_seq
        WHERE t.del_dtm IS NULL
        GROUP BY c.category_nm
        ORDER BY count DESC
        LIMIT 5
    </select>

    <select id="findRecentMembers" resultType="project.member.MemberVO">
        SELECT * FROM member_info
        WHERE MEMBER_DELETED_DTM IS NULL
        ORDER BY CRT_DTM DESC
        LIMIT 10
    </select>

    <select id="findRecentTrades" resultType="project.trade.TradeVO">
        SELECT trade_seq, sale_title, sale_price, sale_rg, sale_st, book_title, crt_dtm
        FROM sb_trade_info
        WHERE DEL_DTM IS NULL
        ORDER BY CRT_DTM DESC
        LIMIT 10
    </select>

    <select id="findRecentBookClubs" resultType="project.bookclub.vo.BookClubVO">
        SELECT
        BOOK_CLUB_SEQ,
        BOOK_CLUB_NAME,
        BOOK_CLUB_RG,
        BOOK_CLUB_MAX_MEMBER,
        BOOK_CLUB_SCHEDULE,
        CRT_DTM
        FROM book_club
        WHERE BOOK_CLUB_DELETED_DT IS NULL
        ORDER BY CRT_DTM DESC
        LIMIT 10
    </select>

    <!-- 회원 로그인 기록 조회 -->
    <select id="findMemberLoginLogs" resultType="project.admin.LoginInfoVO">
        SELECT L.LOGIN_INFO_SEQ
        , L.MEMBER_SEQ
        , L.LOGIN_DTM
        , L.LOGIN_IP
        , L.LOGOUT_DTM
        , L.LOGOUT_IP
        , M.MEMBER_NICKNM
        , M.MEMBER_EMAIL
        FROM login_info L
        INNER JOIN member_info M
        ON L.MEMBER_SEQ = M.MEMBER_SEQ
        WHERE L.MEMBER_SEQ IS NOT NULL
        ORDER BY L.LOGIN_DTM DESC
        LIMIT 100
    </select>

    <!-- 관리자 로그인 기록 조회 -->
    <select id="findAdminLoginLogs" resultType="project.admin.LoginInfoVO">
        SELECT L.LOGIN_INFO_SEQ
        , L.ADMIN_SEQ
        , L.LOGIN_DTM
        , L.LOGIN_IP
        , L.LOGOUT_DTM
        , L.LOGOUT_IP
        , A.ADMIN_LOGIN_ID
        FROM login_info L
        INNER JOIN admin A
        ON L.ADMIN_SEQ = A.ADMIN_SEQ
        WHERE L.ADMIN_SEQ IS NOT NULL
        ORDER BY L.LOGIN_DTM DESC
        LIMIT 100
    </select>

    <!-- 관리자 로그인 기록 저장 -->
    <insert id="saveAdminLoginLog">
        INSERT INTO login_info (ADMIN_SEQ, LOGIN_DTM, LOGIN_IP)
        VALUES (#{admin_seq}, CURRENT_TIMESTAMP, #{login_ip})
    </insert>

    <!-- 관리자 로그아웃 기록 -->
    <update id="updateAdminLogout">
        UPDATE login_info
        SET LOGOUT_DTM = CURRENT_TIMESTAMP
        , LOGOUT_IP = #{logout_ip}
        WHERE LOGIN_INFO_SEQ = (
            SELECT t.LOGIN_INFO_SEQ FROM (
                SELECT LOGIN_INFO_SEQ
                FROM login_info
                WHERE ADMIN_SEQ = #{admin_seq}
                AND LOGOUT_DTM IS NULL
                ORDER BY LOGIN_DTM DESC
                LIMIT 1
            ) t
        )
    </update>

    <insert id="saveMemberLoginLog">
        INSERT INTO login_info (MEMBER_SEQ, LOGIN_DTM, LOGIN_IP)
        VALUES (#{member_seq}, CURRENT_TIMESTAMP, #{login_ip})
    </insert>

    <update id="updateMemberLogout">
        UPDATE login_info
        SET LOGOUT_DTM = CURRENT_TIMESTAMP
        , LOGOUT_IP = #{logout_ip}
        WHERE LOGIN_INFO_SEQ = (
            SELECT t.LOGIN_INFO_SEQ FROM (
                SELECT LOGIN_INFO_SEQ
                FROM login_info
                WHERE MEMBER_SEQ = #{member_seq}
                AND LOGOUT_DTM IS NULL
                ORDER BY LOGIN_DTM DESC
                LIMIT 1
            ) t
        )
    </update>

    <resultMap id="BannerMap" type="project.admin.BannerVO">
        <id property="bannerSeq" column="BANNER_SEQ"/>
        <result property="title" column="TITLE"/>
        <result property="subtitle" column="SUBTITLE"/>
        <result property="bgColorFrom" column="BG_COLOR_FROM"/>
        <result property="bgColorTo" column="BG_COLOR_TO"/>
        <result property="btnText" column="BTN_TEXT"/>
        <result property="btnLink" column="BTN_LINK"/>
        <result property="iconName" column="ICON_NAME"/>
        <result property="orderIdx" column="ORDER_IDX"/>
        <result property="isActive" column="IS_ACTIVE"/>
        <result property="crtDtm" column="CRT_DTM"/>
    </resultMap>

    <resultMap id="TempPageMap" type="project.admin.TempPageVO">
        <id property="pageSeq" column="PAGE_SEQ"/>
        <result property="title" column="TITLE"/>
        <result property="content" column="CONTENT"/>
        <result property="crtDtm" column="CRT_DTM"/>
    </resultMap>

    <select id="findAllBanners" resultMap="BannerMap">
        SELECT * FROM banner WHERE is_active = TRUE ORDER BY order_idx ASC
    </select>

    <insert id="saveBanner">
        INSERT INTO banner (title, subtitle, bg_color_from, bg_color_to, btn_text, btn_link, icon_name, order_idx)
        VALUES (#{title}, #{subtitle}, #{bgColorFrom}, #{bgColorTo}, #{btnText}, #{btnLink}, #{iconName},
                (SELECT COALESCE(MAX(order_idx), 0) + 1 FROM banner b))
    </insert>

    <delete id="deleteBanner">
        DELETE FROM banner WHERE banner_seq = #{bannerSeq}
    </delete>

    <insert id="saveTempPage" useGeneratedKeys="true" keyProperty="pageSeq">
        INSERT INTO temp_page (TITLE, CONTENT)
        VALUES (#{title}, #{content})
    </insert>

    <select id="findTempPage" resultMap="TempPageMap">
        SELECT * FROM temp_page WHERE PAGE_SEQ = #{pageSeq}
    </select>

    <insert id="saveNotice">
        INSERT INTO notice (
               ADMIN_SEQ
             , NOTICE_TITLE
             , NOTICE_PRIORITY
             , ACTIVE
             , NOTICE_CONT
             , CRT_DTM
        ) VALUES (
               #{admin_seq}
             , #{notice_title}
             , #{notice_priority}
             , #{active}
             , #{notice_cont}
             , CURRENT_TIMESTAMP
        )
    </insert>

    <select id="findAllNotices" resultType="project.admin.NoticeVO">
        SELECT N.NOTICE_SEQ
             , N.ADMIN_SEQ
             , N.NOTICE_TITLE
             , N.NOTICE_PRIORITY
             , N.ACTIVE
             , N.VIEW_COUNT
             , N.NOTICE_CONT
             , N.CRT_DTM
             , A.ADMIN_LOGIN_ID
          FROM notice N
          LEFT JOIN admin A
            ON N.ADMIN_SEQ = A.ADMIN_SEQ
         ORDER BY N.NOTICE_PRIORITY DESC, N.CRT_DTM DESC
         LIMIT 50
    </select>

    <select id="findNotice" resultType="project.admin.NoticeVO">
        SELECT N.NOTICE_SEQ
             , N.ADMIN_SEQ
             , N.NOTICE_TITLE
             , N.NOTICE_PRIORITY
             , N.ACTIVE
             , N.VIEW_COUNT
             , N.NOTICE_CONT
             , N.CRT_DTM
             , A.ADMIN_LOGIN_ID
          FROM notice N
          LEFT JOIN admin A
            ON N.ADMIN_SEQ = A.ADMIN_SEQ
         WHERE N.NOTICE_SEQ = #{notice_seq}
    </select>

    <select id="findAllActiveNotices" resultType="project.admin.NoticeVO">
        SELECT NOTICE_SEQ
             , NOTICE_TITLE
             , NOTICE_CONT
             , CRT_DTM
             , ACTIVE
             , NOTICE_PRIORITY
             , VIEW_COUNT
          FROM notice
        WHERE 1=1
        <if test="status != null and status != ''">
            AND ACTIVE = (#{status} = 'true')</if>
        <if test="keyword != null and keyword != ''">
            AND NOTICE_TITLE LIKE CONCAT('%', #{keyword}, '%')
        </if>
        ORDER BY NOTICE_PRIORITY DESC, CRT_DTM DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="countActiveNotices" resultType="int">
        SELECT COUNT(*)
          FROM notice
          WHERE ACTIVE = TRUE
        <if test="keyword != null and keyword != ''">
            AND NOTICE_TITLE LIKE CONCAT('%', #{keyword}, '%')
        </if>
    </select>

    <!--안전결제 리스트 검색 조건 시-->
    <select id="searchSafePayList" resultType="project.trade.TradeVO">
        SELECT
            t.trade_seq,
            t.member_seller_seq,
            t.member_buyer_seq,
            seller.member_nicknm AS member_seller_nm,
            buyer.member_nicknm  AS member_buyer_nm,
            t.sale_title,
            t.sale_price,
            t.delivery_cost,
            t.book_title,
            t.sale_st_dtm
        FROM sb_trade_info t
        LEFT JOIN member_info seller ON t.member_seller_seq = seller.member_seq
        LEFT JOIN member_info buyer  ON t.member_buyer_seq  = buyer.member_seq
        WHERE t.payment_type = 'tosspay'
        AND t.safe_payment_st = 'COMPLETED'
        AND t.confirm_purchase = true
        <if test="keyword != null and keyword != ''">
            <choose>
                <when test="searchType == 'all'">
                    AND (
                    t.sale_title LIKE CONCAT('%', #{keyword}, '%')
                    OR t.book_title LIKE CONCAT('%', #{keyword}, '%')
                    OR t.member_seller_seq IN (
                    SELECT member_seq
                    FROM member_info
                    WHERE member_nicknm LIKE CONCAT('%', #{keyword}, '%')
                    )
                    OR t.member_buyer_seq IN (
                    SELECT member_seq
                    FROM member_info
                    WHERE member_nicknm LIKE CONCAT('%', #{keyword}, '%')
                    )
                    )
                </when>
                <!-- 제목 -->
                <when test="searchType == 'sale_title'">
                    AND t.sale_title LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <!-- 상품명 -->
                <when test="searchType == 'bookName'">
                    AND t.book_title LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <!-- 판매자 -->
                <when test="searchType == 'member_seller'">
                    AND t.member_seller_seq IN (
                    SELECT member_seq
                    FROM member_info
                    WHERE member_nicknm LIKE CONCAT('%', #{keyword}, '%')
                    )
                </when>
                <!-- 구매자 -->
                <when test="searchType == 'member_buyer'">
                    AND t.member_buyer_seq IN (
                    SELECT member_seq
                    FROM member_info
                    WHERE member_nicknm LIKE CONCAT('%', #{keyword}, '%')
                    )
                </when>
            </choose>
        </if>
        ORDER BY t.sale_st_dtm DESC
        LIMIT #{size} OFFSET #{offset}
    </select>

    <select id="countAllSafePayListBySearch" resultType="int">
        SELECT COUNT(*)
        FROM sb_trade_info
        WHERE payment_type = 'tosspay'
        AND safe_payment_st = 'COMPLETED'
        AND confirm_purchase = true
        <if test="keyword != null and keyword != ''">
            <choose>
                <when test="searchType == 'all'">
                    AND (
                    sale_title LIKE CONCAT('%', #{keyword}, '%')
                    OR book_title LIKE CONCAT('%', #{keyword}, '%')
                    OR member_seller_seq IN (
                    SELECT member_seq
                    FROM member_info
                    WHERE member_nicknm LIKE CONCAT('%', #{keyword}, '%')
                    )
                    OR member_buyer_seq IN (
                    SELECT member_seq
                    FROM member_info
                    WHERE member_nicknm LIKE CONCAT('%', #{keyword}, '%')
                    )
                    )
                </when>
                <!-- 제목 -->
                <when test="searchType == 'sale_title'">
                    AND sale_title LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <!-- 상품명 -->
                <when test="searchType == 'bookName'">
                    AND book_title LIKE CONCAT('%', #{keyword}, '%')
                </when>
                <!-- 판매자 -->
                <when test="searchType == 'member_seller'">
                    AND member_seller_seq IN (
                    SELECT member_seq
                    FROM member_info
                    WHERE member_nicknm LIKE CONCAT('%', #{keyword}, '%')
                    )
                </when>
                <!-- 구매자 -->
                <when test="searchType == 'member_buyer'">
                    AND member_buyer_seq IN (
                    SELECT member_seq
                    FROM member_info
                    WHERE member_nicknm LIKE CONCAT('%', #{keyword}, '%')
                    )
                </when>
            </choose>
        </if>
    </select>


    <update id="incrementViewCount">
        UPDATE notice
           SET VIEW_COUNT = VIEW_COUNT + 1
         WHERE NOTICE_SEQ = #{notice_seq}
    </update>

    <delete id="deleteNotice">
        DELETE FROM notice
         WHERE NOTICE_SEQ = #{notice_seq}
    </delete>

    <update id="updateNotice" parameterType="project.admin.NoticeVO">
        UPDATE notice
           SET NOTICE_TITLE = #{notice_title}
             , NOTICE_CONT = #{notice_cont}
             , NOTICE_PRIORITY = #{notice_priority}
             , ACTIVE = #{active}
             , UPD_DTM = NOW()
         WHERE NOTICE_SEQ = #{notice_seq}
    </update>
</mapper>